@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --body-medium-font-family: 'Inter', Helvetica;
    --body-medium-font-size: 14px;
    --body-medium-font-style: normal;
    --body-medium-font-weight: 500;
    --body-medium-letter-spacing: 0px;
    --body-medium-line-height: 175%;
    --body-regular-font-family: 'Inter', Helvetica;
    --body-regular-font-size: 14px;
    --body-regular-font-style: normal;
    --body-regular-font-weight: 400;
    --body-regular-letter-spacing: 0px;
    --body-regular-line-height: 175%;
    --heading-h1-tight-semi-bold-font-family: 'Inter', Helvetica;
    --heading-h1-tight-semi-bold-font-size: 40px;
    --heading-h1-tight-semi-bold-font-style: normal;
    --heading-h1-tight-semi-bold-font-weight: 600;
    --heading-h1-tight-semi-bold-letter-spacing: -1px;
    --heading-h1-tight-semi-bold-line-height: 150%;
    --heading-h2-normal-bold-font-family: 'Inter', Helvetica;
    --heading-h2-normal-bold-font-size: 32px;
    --heading-h2-normal-bold-font-style: normal;
    --heading-h2-normal-bold-font-weight: 700;
    --heading-h2-normal-bold-letter-spacing: 0px;
    --heading-h2-normal-bold-line-height: normal;
    --heading-h2-tight-semi-bold-font-family: 'Inter', Helvetica;
    --heading-h2-tight-semi-bold-font-size: 32px;
    --heading-h2-tight-semi-bold-font-style: normal;
    --heading-h2-tight-semi-bold-font-weight: 600;
    --heading-h2-tight-semi-bold-letter-spacing: -1.12px;
    --heading-h2-tight-semi-bold-line-height: normal;
    --heading-h3-nomal-bold-font-family: 'Inter', Helvetica;
    --heading-h3-nomal-bold-font-size: 24px;
    --heading-h3-nomal-bold-font-style: normal;
    --heading-h3-nomal-bold-font-weight: 700;
    --heading-h3-nomal-bold-letter-spacing: 0px;
    --heading-h3-nomal-bold-line-height: normal;
    --heading-h4-normal-medium-font-family: 'Inter', Helvetica;
    --heading-h4-normal-medium-font-size: 18px;
    --heading-h4-normal-medium-font-style: normal;
    --heading-h4-normal-medium-font-weight: 500;
    --heading-h4-normal-medium-letter-spacing: 0px;
    --heading-h4-normal-medium-line-height: normal;
    --heading-h4-normal-semibold-font-family: 'Inter', Helvetica;
    --heading-h4-normal-semibold-font-size: 18px;
    --heading-h4-normal-semibold-font-style: normal;
    --heading-h4-normal-semibold-font-weight: 600;
    --heading-h4-normal-semibold-letter-spacing: 0px;
    --heading-h4-normal-semibold-line-height: normal;
    --heading-h5-normal-semi-bold-font-family: 'Inter', Helvetica;
    --heading-h5-normal-semi-bold-font-size: 16px;
    --heading-h5-normal-semi-bold-font-style: normal;
    --heading-h5-normal-semi-bold-font-weight: 600;
    --heading-h5-normal-semi-bold-letter-spacing: 0px;
    --heading-h5-normal-semi-bold-line-height: normal;
    --heading-h6-medium-font-family: 'Inter', Helvetica;
    --heading-h6-medium-font-size: 14px;
    --heading-h6-medium-font-style: normal;
    --heading-h6-medium-font-weight: 500;
    --heading-h6-medium-letter-spacing: 0px;
    --heading-h6-medium-line-height: normal;
    --label-loose-medium-font-family: 'Inter', Helvetica;
    --label-loose-medium-font-size: 12px;
    --label-loose-medium-font-style: normal;
    --label-loose-medium-font-weight: 500;
    --label-loose-medium-letter-spacing: 0.6px;
    --label-loose-medium-line-height: 24px;
    --label-normal-medium-font-family: 'Inter', Helvetica;
    --label-normal-medium-font-size: 12px;
    --label-normal-medium-font-style: normal;
    --label-normal-medium-font-weight: 500;
    --label-normal-medium-letter-spacing: 0px;
    --label-normal-medium-line-height: 24px;
    --neutralblackb-100: rgba(230, 231, 232, 1);
    --neutralblackb-200: rgba(182, 183, 188, 1);
    --neutralblackb-300: rgba(135, 138, 146, 1);
    --neutralblackb-400: rgba(113, 116, 126, 1);
    --neutralblackb-500: rgba(92, 95, 106, 1);
    --neutralblackb-600: rgba(71, 75, 87, 1);
    --neutralblackb-700: rgba(51, 56, 69, 1);
    --neutralblackb-800: rgba(32, 37, 51, 1);
    --neutralblackb-900: rgba(14, 20, 34, 1);
    --neutralwhitew-100: rgba(246, 246, 246, 1);
    --neutralwhitew-200: rgba(233, 233, 235, 1);
    --neutralwhitew-900: rgba(255, 255, 255, 1);
    --primaryb-100: rgba(240, 241, 255, 1);
    --primaryb-200: rgba(227, 229, 255, 1);
    --primaryb-300: rgba(183, 191, 255, 1);
    --primaryb-400: rgba(168, 178, 255, 1);
    --primaryb-500: rgba(151, 166, 255, 1);
    --primaryb-600: rgba(134, 154, 255, 1);
    --primaryb-700: rgba(114, 143, 255, 1);
    --primaryb-800: rgba(92, 131, 255, 1);
    --primaryb-900: rgba(64, 120, 255, 1);
    --semanticblueb-100: rgba(232, 239, 253, 1);
    --semanticblueb-200: rgba(209, 222, 251, 1);
    --semanticblueb-300: rgba(186, 206, 250, 1);
    --semanticblueb-400: rgba(163, 190, 248, 1);
    --semanticblueb-500: rgba(140, 173, 246, 1);
    --semanticblueb-600: rgba(117, 157, 244, 1);
    --semanticblueb-700: rgba(94, 140, 243, 1);
    --semanticblueb-800: rgba(71, 124, 241, 1);
    --semanticblueb-900: rgba(48, 108, 239, 1);
    --semanticgreeng-100: rgba(213, 229, 215, 1);
    --semanticgreeng-200: rgba(193, 216, 196, 1);
    --semanticgreeng-300: rgba(152, 190, 158, 1);
    --semanticgreeng-400: rgba(131, 177, 139, 1);
    --semanticgreeng-500: rgba(111, 164, 121, 1);
    --semanticgreeng-600: rgba(90, 152, 104, 1);
    --semanticgreeng-700: rgba(69, 139, 86, 1);
    --semanticgreeng-800: rgba(44, 127, 69, 1);
    --semanticgreeng-900: rgba(5, 114, 52, 1);
    --semanticredr-100: rgba(251, 217, 208, 1);
    --semanticredr-200: rgba(248, 197, 185, 1);
    --semanticredr-300: rgba(238, 159, 141, 1);
    --semanticredr-400: rgba(232, 140, 119, 1);
    --semanticredr-500: rgba(225, 120, 98, 1);
    --semanticredr-600: rgba(217, 100, 78, 1);
    --semanticredr-700: rgba(209, 79, 58, 1);
    --semanticredr-800: rgba(200, 55, 39, 1);
    --semanticredr-900: rgba(190, 19, 19, 1);
    --semanticyellowy-100: rgba(255, 241, 216, 1);
    --semanticyellowy-200: rgba(255, 234, 196, 1);
    --semanticyellowy-300: rgba(255, 220, 158, 1);
    --semanticyellowy-400: rgba(255, 213, 138, 1);
    --semanticyellowy-500: rgba(253, 207, 118, 1);
    --semanticyellowy-600: rgba(251, 200, 98, 1);
    --semanticyellowy-700: rgba(249, 193, 76, 1);
    --semanticyellowy-800: rgba(246, 187, 51, 1);
    --semanticyellowy-900: rgba(243, 180, 10, 1);
    --shadow-medium: 4px 4px 4px 0px rgba(0, 0, 0, 0.05);
    --shadow-small: 2px 2px 30px 0px rgba(0, 0, 0, 0.05);
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
